@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Libre+Baskerville&family=Open+Sans:wght@500&family=Playfair+Display:wght@700&family=Roboto+Slab&family=Signika+Negative:wght@300&display=swap');

/* font-family: 'Arvo', serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif;
font-family: 'Signika Negative', sans-serif; */

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

h2{
    text-align: left;
    font-family: 'Libre Baskerville', serif;
    
}

h1{
    font-family: 'Playfair Display', serif ; 
}

h4{
    font-family: 'Arvo', serif;
}

td{
    text-align: left;
    margin-left: 50px;
}

.rowFest {
    justify-content: center;
    align-items: center;
}

.col-btn{
    box-shadow: 1px 1px 4px 2px rgb(68, 65, 65);
    border-radius: 1cm;
    margin: 12px;
    margin-bottom: 15px;

}

.hero-section{
    background-image: url("./assets/hero.png");
    height: 500px;
}

.mask{
    margin-top: 35px;
}

.col-btn:hover {
    box-shadow: 1px 1px 8px 4px rgb(45, 211, 175);
    border-radius: 0.7cm;
    cursor: pointer;
    transition: 0.5s linear;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.hero a{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 15px;
}

.hero a:hover{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    
}

.img-fluid{
    border-radius: 7px;
}

@media screen {
    .logo{
        font-size: larger;
    }
}